@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/**
 * Template : Les Petits Plats
 * By Audrey Mesnage
 */
/* Colors */
 :root, [data-theme="default"] {
    --color-primary: #FFD15B;
    --color-secondary: black;
    --color-tertiary: grey;
    --color-complementary: #d3d3d3;

    --color-black: #000;
    --color-darkgrey: #1B1B1B;
    --color-white: #fff;
    --color-bg: #EDEDED;
    --max-width: 1440px;
}

/* Resets */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base */
body {
    background-color: var(--color-white);
}

header {
    width: 100%;
    height: 667px;
}

h2 {
    color: #000;
    font-family: Anton;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: var(--Grey, #7A7A7A);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

.show { display: block !important; }

.hidden { display: none !important; }

.rotate { transform: rotate(180deg); }

/* Header */
.header__logo {
    position: absolute;
    left: 69px;
    top: 51px;
}

.header__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), url('../images/bg.jpeg'), lightgray 50% / cover no-repeat;
    /* background-image: url('../images/bg.jpeg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 65%;
}

.header__title__wrapper {
    position: relative;
    width: 100%;
    max-width: 890px;
    margin-bottom: 29.42px;
}

.header__search__wrapper {
    position: relative;
    width: 100%;
    max-width: 954px;
    min-width: 320px;
    height: 72px;
}

/* Search bar */
.header__search input[type=text] {
    height: 72px;
    width: 100%;
    padding: 24px 0;
    padding-left: 35px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    border-radius: 11px;
    background: #FFF;
}

.header__search button.search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 51px;
    height: 52px;
    border-radius: 10px;
    background: var(--Black, #1B1B1B);

    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
.header__search button.search:hover {
    background: var(--color-primary);
}

.header__search button.search:hover svg circle , .header__search button.search:hover svg line {
    stroke: #000;
}

/* Clear Button */
button.clearBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    /* display: none; */
    z-index: 1;
    cursor: pointer;
    border: 0;
}

button.clearBtn__header {
    width: 17px;
    height: 17px;
    right: 85px;  
}

button.clearBtn__drop {
    width: 6;
    height: 36px;
    right: 50px;
    stroke-width: 1px;
    display: flex;
    align-items: center;
}

.arrow-up {
    width: 13px;
    height: 30px;
    padding-right: 16px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--Black, #1B1B1B);
}

/* Typography */
.header__title {
    color: var(--color-primary);
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropbtn {
  color: var(--color-darkgrey);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.description__txt {
    color: var(--color-darkgrey);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Helpers */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
.wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width);
}
  
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
  
.justify-content-center {
    justify-content: center!important;
}
  
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
  
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
  
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto {
    position: relative;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
}
  
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
  
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
  
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
  
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
  
.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
  
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
  
.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
  
.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
  
.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* Filters */
.filters__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 102px;
    background-color: var(--color-bg);
}

.filters__title {
  width: 100%;
  text-align: right;
}

.filters__title h2 {
    color: var(--Black, #1B1B1B);
    font-family: Anton;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filters__selection__wrapper {
  display: flex;
  flex-direction: row;
  gap: 63px;
}

.dropbtn {
  width: 195px;
  height: 56px;
  display: inline-flex;
  padding: 17px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  cursor: pointer;
}

/* .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
} */
.dropdown {
    width: 195px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    top: 45px;
    overflow: auto;
    border-radius: 0 0 10px 10px;
    background-color: var(--color-white);
    z-index: 1;
}

.drop__wrapper {
    width: 100%;
}

.drop__wrapper a {
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
}

.drop__wrapper a {
    color: var(--Black, #1B1B1B);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown a:hover { background-color: var(--color-primary); }

.dropsearch__wrapper {
    position: relative;
    margin-top: 14px;
    margin-bottom: 11px;
    width: 100%;
}

.dropInput {
    width: 163px;
    height: 36px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 16px;
    padding: 11px;
    padding-right: 50px;
    border-radius: 2px;
    border: 1px solid var(--Light-Grey, #C6C6C6);
}

.dropInput:focus { outline: 1px solid #ddd; }

.dropsearch__wrapper button.search {
    position: absolute;
    height: 36px;
    right: 16px;
    top: 50%;
    padding: 11px;
    transform: translateY(-50%);
    background-color: transparent;

    border: 0;
    cursor: pointer;
}

.dropsearch__wrapper svg {
    height: 15px;
    background: transparent;
 }
  
/* .dropdown-content button.search:hover {
    background: var(--color-primary);
} */

/* Tagslist Section */
.tagslist__section {
    width: 100%;
    padding: 0 102px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    background-color: var(--color-bg);
}

.tag {
    display: inline-flex;
    padding: 17px 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: var(--color-primary);
}

.tag h2 {
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Cooking Section */
.cooking__section {
    width: 100%;
    padding: 0 102px;
    padding-top: 55px;
    padding-bottom: 201px;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 48px;
    background-color: var(--color-bg);
}

.recipe {
    width: 380px;
    height: 731px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.recipe__image {
    width: 380px;
    height: 253px;
    flex-shrink: 0;
}

.recipe__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 21px 21px 0 0;
}

.recipe__content {
    width: 100%;
    height: 478px;
    padding: 0 25px;
}

.recipe__title {
    margin-top: 32px;
    margin-bottom: 29px;
}

.recipe__wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.recipe__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.description__txt {
    height: 76px;
    overflow: auto;
}

.recipe__ingredients {
    display: flex;
    width: 330px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.ingredients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 21px 0;
}

.ingredients__text {
    color: var(--Black, #1B1B1B);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ingredients__quantity {
    color: var(--Grey, #7A7A7A);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/**
* Responsive
*/
/* Screen max : 1023.84px */
@media screen and (max-width: 1050px) {
    .wrapper {
        padding: 20px 50px;
    }
    /* Filters */
    .filters__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        background-color: var(--color-bg);
        gap: 20px;
    }
    .col-8 {
        max-width: 100%;
    }

    .col-4 {
        max-width: 100%;
    }

    .filters__title {
        text-align: left;
    }

    .cooking__section {
        padding: 20px 50px;
        justify-content: center;
    }
}

/* Screen max : 768px */
@media screen and (max-width: 48rem) {
    .wrapper {
        padding: 20px 20px;
    }

    .filters__selection__wrapper {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .cooking__section {
        padding: 20px 20px;
    }

    .tagslist__section {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        background-color: var(--color-bg);
    }
}

/* Screen max : 424px (424px = 26.5rem) */
@media screen and (max-width: 26.5rem) {

}